* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Protest Guerrilla';
  letter-spacing: 2px;
}

body {
  background-color:rgba(61, 39, 139, 0.877);
  color: rgba(255, 255, 255, 0.74);
  text-align: center;
}

.container {
  background-color: rgb(18, 3, 73);
  width: 800px;
  margin: 2em auto;
  border-radius: 20px;
  padding: 1em;
}

.title {
  padding: 1em;
}

button {
  font-size: 4.5em;
  height: 100px;
  width: 100px;
  text-align: center;
  background-color: rgb(94, 0, 0);
  color: yellow;
  margin: 15px;
  border-color: black;
  border-radius: 15px;
}

button:hover {
  cursor: pointer;
}

button:active {
  border-style: inset;
  background-color: rgb(70, 3, 3);
  color: grey;
}

.display {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  column-gap: 5em;
  padding-top: 1em;
}

#player-score {
  color: yellow;
}

#computer-score {
  color: yellow;
}