* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Protest Guerrilla';
}

body {
  background-color:rgba(61, 39, 139, 0.877);
  color: rgba(255, 255, 255, 0.74);
  text-align: center;
}

.container {
  background-color: rgb(18, 3, 73);
  width: 800px;
  margin: 2em auto;
  border-radius: 20px;
  padding: 1em;
}

.title {
  padding: 1em;
}

button {
  font-size: 100px;
  height: 150px;
  width: 150px;
  text-align: center;
  background-color: rgb(94, 0, 0);
  color: yellow;
  margin: 15px;
  border-color: black;
  border-radius: 15px;
}

button:hover {
  cursor: pointer;
}

button:active {
  border-style: inset;
  background-color: rgb(70, 3, 3);
  color: grey;
}

.display-box {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  column-gap: 5em;
  padding-top: 1em;
}

.display-player {
  width: 200px;
  height: 200px;
  background-color: rgba(61, 39, 139, 0.877);
  border-radius: 10px;
  padding: 1em;
}

.display-computer {
  width: 200px;
  padding: 1em;
  background-color: rgba(61, 39, 139, 0.877);
  border-radius: 10px;
}

.result {
  width: 300px;
  height: 100px;
  text-align: center;
  padding: 1em;
  font-size: 1.5em;
  margin: 1em auto;
  background-color: rgba(61, 39, 139, 0.877);
  border-radius: 20px;
}

#player-choice {
  font-size: 100px;
  color: yellow;
}

#computer-choice {
  font-size: 100px;
  color: yellow;
}

.player-score {
  font-size: 1.5em;
}

.computer-score {
  font-size: 1.5em;
}