body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.container {
  margin: 0 auto;
}

.container button {
  font-size: 4em;
  width: 100px;
  height: 100px;
}

.display-box {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  column-gap: 5em;
  padding-top: 1em;
}

.display-player {
  border: 5px solid green;
  width: 200px;
  height: 200px;
}

.display-computer {
  border: 5px solid green;
  width: 200px;
  height: 200px;
}

.display-result {
  border: 5px solid green;
  width: 300px;
  padding: 1em;
  margin: 1em auto;
}

#player-choice {
  font-size: 6em;
}

#computer-choice {
  font-size: 6em;
}